@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: white;
  background: linear-gradient(
    to bottom,
    #eafbff 0%,
    #eafbff 50%,
    #5290f9 50%,
    #5290f9 100%
  );
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

nav {
  width: 70px;
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s linear;
}

nav ul {
  padding: 0;
  display: none;
}

nav.active {
  width: 380px;
  transition: all 0.4s linear;
}

nav.active ul {
  padding: 0;
  width: 100%;
  display: flex;
  gap: 20px;
}

nav.active ul li {
  list-style: none;
}

nav.active ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

.icon {
  background-color: white;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  width: 30px;
  height: 30px;
}
.icon .line {
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  right: 5px;
  transition: all 0.5s linear;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(765deg) translateY(5.5px);
}
nav.active .icon .line2 {
  transform: rotate(-765deg) translateY(-5.5px);
}
