@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

.box {
  background-color: blueviolet;
  color: white;
  height: 200px;
  width: 350px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 20px;
  transform: translateX(400%);
  transition: 0.4s all ease;
}

.box:nth-last-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}
